.git/**
.jj/**
.spago/**
.vscode/**
src/**
spago.yaml
spago.lock
bun.lock
package-lock.json
*.vsix
.psc-ide-port
output/**/corefn.json
output/**/docs.json
output/**/*.cbor
output/**/*.map
server/output/**/corefn.json
server/output/**/docs.json
server/output/**/*.cbor
server/output/**/*.map
